<p id="notice"><%= notice %></p>

<h1>All Articles</h1>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
  <%= will_paginate %>
</div>

<% @articles.each do |article| %>
  <%= render partial: 'index_articles', locals: {article: article} %>
<% end %>

