<h1>Editing User</h1>

<%= render 'form' %>
<div class="btn-group pull-right" role="group">
  <%= link_to 'Delete Account', 'destroy', class: "btn btn-default" %>
</div>
<%= link_to 'Back', articles_path %>
