
<p><%= @user.first_name %>,</p>
<%@articles = Article.tagged_with(@user.interest_list, :any => true).to_a%>
<% count = 0 %>
<% @articles.each do |article| %>
  <% if((@user.last_emailed.nil? || (@user.last_emailed < article.pubdate)) && count<=10) %>
    <%= render partial: 'index_articles', locals: {article: article} %>
    <% count = count + 1 %>
  <% end %>
<% end %>
<% if count == 0 %>
  <p>Thank you. There are no news articles matching your interests at this time.</p>
<%else %>
  <p>Thank you for registering!</p>
<% end %>  

<p><%= link_to "Edit profile", edit_user_path(@user) %></p>